@CHARSET "UTF-8";
body{overflow-x:hidden;width:100%;height:auto;font-family:"闂傚倸鍊峰ù鍥敋瑜嶉湁闁绘垼妫勯弸浣糕攽閻樺疇澹樼痪鎹愵嚙閳规垿鎮╅崣澶嬫倷缂備焦鍔栭〃鍡欐崲濞戙垹绠ｆ繛鍡楃箳娴犻箖鏌ｆ惔銏ｅ闁哥喐鎸抽獮鍐ㄎ旈崨顔芥珳闁硅偐琛ラ崜婵嬫倶瀹ュ鈷戦柟鎯板Г閺侀亶鏌ｅΔ鍐ㄢ枅鐎殿喛顕ч埥澶娢熼柨瀣垫綌婵犳鍠楅〃鍛涘Δ鈧埢鎾诲醇閺囩啿鎷洪梺鑽ゅ枑濠㈡ê鈻撻埡鍛厵闁告垯鍊栫€氾拷", "Microsoft YaHei";}
a:link{
text-decoration:none;
}
a{color:#9f9f9d;font-size:14px;}
.ddd{font-size:12px;}
.main{margin:0 auto;width:99%;clear:both;min-height:0px;}
.wenzi{margin-top:20px;margin-right:auto;margin-left:auto;width:100%;}
.biaoti{margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.jianjiezi{margin-top:20px;margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.anniu{margin-right:auto;margin-left:auto;width:220px;}
.anzhuo{margin-top:30px;float:left;width:220px;height:60px;background:url(http://ww4.sinaimg.cn/bmiddle/0068TJS4gw1eu60rjrv3aj306601o745.jpg) no-repeat;}
.app{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww2.sinaimg.cn/bmiddle/0068TJS4gw1eu60rj3re6j306601owed.jpg) no-repeat;}
.mvb{margin-top:20px;float:left;width:222px;height:394px;background:url(http://ww3.sinaimg.cn/bmiddle/005uJx3ugw1ezu2dl4s5sj30660aymy2.jpg) no-repeat;}
.zi1{margin-top:10px;float:left;text-align:center;width:220px;}
